.Search
    position: relative

    &:not(.opened) &__area
        display: none

    &__input
        position: relative
        z-index: 2

    &__area
        position: absolute
        top: -$val-xs
        bottom: -$val-xs
        left: -$val-xs
        right: -$val-xs
        z-index: 1
        background-color: $c-light
        box-shadow: 0 0px 4px $c-dark-xs
    &:not(.squeezed) &__area
        border-radius: $br-xl $br-xl 0 0
    &.squeezed &__area
        border-radius: 0 0 $br-xl $br-xl

    &Results
        position: absolute
        z-index: $zi-sticky - 1
        background-color: $c-light
        padding: $val-sm
        box-sizing: border-box
        &:not(.squeezed)
            border-radius: 0 0 $br-xl $br-xl
            box-shadow: 0 4px 4px $c-dark-xs
        &.squeezed
            box-shadow: 0 -2px 4px $c-dark-xs
            border-radius: $br-xl $br-xl 0 0

        .wrap
            max-height: 300px
            overflow-x: hidden
            overflow-y: auto
            padding-top: 2px
            padding-bottom: 2px
            h4
                @include fk-fz-xs
                line-height: $lh-sm
                margin-bottom: $val-xs
            a
                @include fk-font-link-text-mini
                text-decoration: none
                position: relative
                display: block
                line-height: $lh-sm
                &:not(:last-child)
                    margin-bottom: $val-xs
                &:not(:hover)
                    opacity: $o-lg
                &::after
                    @include linear-gradient(to right, rgba($c-light, 0.001), $c-light)
                    content: ""
                    position: absolute
                    top: 0
                    bottom: 0
                    right: 0
                    z-index: 2
                    width: 20px
                    pointer-events: none
        
        &__topic
            &:not(:last-child)
                margin-bottom: $val-sm

        &__empty
            @include fk-font-text-mini
            color: rgba($c-dark, $o-lg)
            font-style: italic

