.fk-group
    // overflow: hidden

    & > &__wrap
        display: flex
        
    @each $level, $val in $vals
        &_size-#{$level}
            & > .fk-group__wrap
                margin-bottom: - map-get($vals, $level)
                margin-right: - map-get($vals, $level)
                min-height: calc(100% + #{map-get($vals, $level)})
                min-width: calc(100% + #{map-get($vals, $level)})
                & > *
                    margin-bottom: map-get($vals, $level)
                    margin-right: map-get($vals, $level)

    &_size-0
        & > .fk-group__wrap
            min-height: 100%
            min-width: 100%
            & > *
                margin-bottom: 0
                margin-right: 0

    &_stretch
        & > .fk-group__wrap[class*="fk-flex-d-row"] > *
            flex-grow: 1
        @each $level, $val in $vals
            &.fk-group_size-#{$level}
                & > .fk-group__wrap[class*="fk-flex-d-column"] > *
                    width: calc(100% - #{$val})