.CardActionInform
    position: relative
    overflow: hidden
    
    &__image
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 1

    &__content
        position: relative
        z-index: 2

        .title
            margin-bottom: $val-xs-1
        .subtitle
            @include fk-fz-sm
            margin: 0