.PageHeader

    &__header
        padding: $val-sm-1 0 $val-lg-2
        h1
            margin: 0
        .subtitle
            @include fk-font-section-subtitle
            margin-top: $val-xs-1
            margin-bottom: 0
        .description
            color: rgba($c-dark, $o-xl)
            margin-top: $val-sm-1
            margin-bottom: 0