.RouteProduct

    &__main
        padding: $val-md 0 $val-md*2

    &__left
        position: relative

    &__right
        & > *:not(:last-child)
            margin-bottom: $val-md
        & > *:last-child
            margin-bottom: 0

        $btn-width: $val-mg*2

        .markers
            margin-top: -#{$val-md - ($val-md/2)}
        .buy-quantity,
        .buy-btn
            width: $btn-width
        .buy-table
            width: ($btn-width*2)+$val-xs
            table thead tr > *
                padding-top: 0
        .buy-price
            @include fk-font-card-title

    .fk-tabs-menu__header
        border-bottom: 0
        box-shadow: $bs-mr $c-dark-xs