.CardProduct
    
    &:hover &__title h4
        color: $c-prim

    .CardContent
        height: 100%
        display: flex
        flex-direction: column
        box-sizing: border-box

    &__image
        position: relative
        margin-bottom: $val-sm-1
        & > div
            background-size: contain
            background-position: center
            background-repeat: no-repeat
        .markers
            position: absolute
            top: 0
            left: 0
            z-index: 2

    &__title
        margin-bottom: $val-sm-1
        h4
            @include fk-font-card-title
            transition: .1s
            color: $c-dark
            margin: 0
        p
            @include fk-font-text-mini
            color: rgba($c-dark, $o-lg)
            margin-top: $val-xs-1
            margin-bottom: 0

    &__order
        margin-top: auto
        .price
            @include fk-font-subcard-title
            color: $c-dark
        .fk-btn
            min-width: 115px