$cols: ("1": 1, "2": 2, "3": 3, "4": 4, "5": 5, "6": 6, "7": 7, "8": 8, "9": 9, "10": 10, "11": 11, "12": 12, "13": 13, "14": 14, "15": 15, "16": 16, "17": 17, "18": 18, "19": 19)
    
@mixin fk-create-grid-by-margin($offset, $columns)
    $col-width: 100%/$columns
    & > .fk-grid__wrap
        display: flex
        flex-wrap: wrap
        margin-right: -$offset
        margin-bottom: -$offset
        & > *
            margin-right: $offset
            margin-bottom: $offset
            box-sizing: border-box
            &:not([class*="fk-grid__col-"])
                width: calc(#{$col-width} - #{$offset})
            @each $col-name, $col in $cols
                &.fk-grid__col-#{$col-name}
                    width: calc(#{$col-width * $col} - #{$offset})

@mixin fk-create-grid-by-padding($offset, $columns)
    $col-width: 100%/$columns
    & > .fk-grid__wrap
        display: flex
        flex-wrap: wrap
        & > *
            padding: $offset / 2
            box-sizing: border-box
            &:not([class*="fk-grid__col-"])
                width: $col-width
            @each $col-name, $col in $cols
                &.fk-grid__col-#{$col-name}
                    width: $col-width * $col

.fk-grid
    // overflow: hidden

    &_align-start > .fk-grid__wrap
        align-items: flex-start

    &_align-end > .fk-grid__wrap
        align-items: flex-end

    &_align-center > .fk-grid__wrap
        align-items: center
    
    @each $col-name, $col in $cols
        &.fk-grid_by-margin.fk-grid_size-0.fk-grid_cols-#{$col-name}
            @include fk-create-grid-by-margin(0, $col)
        
        &.fk-grid_by-padding.fk-grid_size-0.fk-grid_cols-#{$col-name}
            @include fk-create-grid-by-padding(0, $col)

        @each $val-name, $val in $vals
            &.fk-grid_by-margin.fk-grid_size-#{$val-name}.fk-grid_cols-#{$col-name}
                @include fk-create-grid-by-margin($val, $col)

            &.fk-grid_by-padding.fk-grid_size-#{$val-name}.fk-grid_cols-#{$col-name}
                @include fk-create-grid-by-padding($val, $col)
            