.CTADouble
    @include mediaTabletAndUp
        display: flex

    & > *
        width: 100%
        box-sizing: border-box
        @include mediaTabletAndUp
            padding: $val-md
        @include mediaMobileAndDown
            padding: $val-md $val-sm

    &__left
        display: flex
        align-items: center
        text-align: center
        background-color: rgba($c-dark, $o-mg)
        @include mediaTabletAndUp
            border-radius: $br-xl 0 0 $br-xl
        @include mediaMobileAndDown
            border-radius: $br-xl $br-xl 0 0

        .wrap
            & > *:not(.title):not(:last-child)
                margin-bottom: $val-md/4
            .title
                margin-bottom: $val-md
            .phone
                font-weight: $fw-bold
            .or
                @include fk-font-subcard-title
                color: rgba($c-light, $o-lg)
    
    &__right
        border: $bw-sm solid rgba($c-dark, $o-mg)
        @include mediaTabletAndUp
            border-radius: 0 $br-xl $br-xl 0
        @include mediaMobileAndDown
            border-radius: 0 0 $br-xl $br-xl
        & > *
            margin-top: 0 !important
        & > *:not(:last-child)
            margin-bottom: $val-md/2
        & > *:last-child
            margin-bottom: 0
        li
            @include fk-fz-xs
            &:not(:last-child)
                margin-bottom: $val-md/2