.Slider
    $t: .4s

    position: relative
    transition: height $t, width $t
    overflow: hidden

    // Слайды

    &__slide
        position: relative
            
        &.active
            transition: $t
            z-index: 2 

        &.prev-active
            position: absolute
            z-index: 1
            top: 0%
            left: 0%
            width: 100%
            & > *
                opacity: 0

        &:not(.active):not(.prev-active)
            display: none

        // Итемы
        & > *
            transition: $t

    // Кнопки

    &__buttons
        .prev,
        .next
            transition: .2s
            position: absolute
            top: 50%
            z-index: 3
            display: flex
            align-items: center
            justify-content: center
            width: $val-lg
            height: $val-lg
            transform: translateY(-50%)
            border-radius: $br-mg
            background-color: $c-light
            &:not(:hover)
                opacity: $o-lg
        .prev
            left: $val-xs
        .next
            right: $val-xs            

    &:not(:hover) &__buttons
        .prev,
        .next
            opacity: 0 
        .prev
            left: -$val-mr
        .next
            right: -$val-mr