.fk-table

    // Общие стили
    & > table
        width: 100%
        border-collapse: collapse
        & > thead
            @include fk-font-card-title
            color: $c-dark
        & > tbody > tr
            & > th
                @include fk-font-title-mini
                color: rgba($c-dark, $o-xl)
                text-align: left
            & > td
                @include fk-font-text-mini
                color: $c-dark

    // С рамками
    &:not(&_not-border)
        & > table
            & > thead
                & > tr > *
                    background-color: $c-light-md
                    &:first-child
                        border-radius: $br-lg 0 0 $br-lg
                    &:last-child
                        border-radius: 0 $br-lg $br-lg 0
            & > tbody > tr
                &:nth-child(2n)
                    background-color: $c-light-xs
                & > *
                    border-bottom: $bw-xs solid $c-light-lg
                    &:not(:first-child)                    
                        border-left: $bw-xs solid $c-light-lg

        &:not(.fk-table_with-header)
            & > table > tbody > tr
                &:first-child
                    & > *
                        border-top: $bw-xs solid $c-light-lg

    // Без рамок
    &_not-border
        border: $bw-sm solid $c-light-md
        border-radius: $br-lg
        overflow: hidden

        & > table
            & > thead
                & > tr > *
                    border-bottom: $bw-sm solid $c-light-md
                    &:not(:first-child)                   
                        border-left: $bw-sm solid $c-light
            & > tbody > tr
                & > *:first-child
                    // border-radius: $br-lg 0 0 $br-lg
                & > *:last-child
                    // border-radius: 0 $br-lg $br-lg 0
                &:nth-child(2n)
                    background-color: $c-light-xs
                    & > *:not(:first-child)                   
                        border-left: $bw-sm solid $c-light
                    
                

    @each $size-name, $val in $vals
        &_size-#{$size-name}
            & > table > thead > tr > *
                padding: $val/1.5 $val
            & > table > tbody > tr > *
                padding: $val/2 $val
