.SliderPromo
    position: relative
    @include mediaDesktopAndUp
        display: flex
    
    &__content
        @include mediaDesktopAndUp
            display: flex
            flex-direction: column
            justify-content: center
            background-color: rgba($c-dark, $o-mg)
            width: 32%
            padding: $val-mg $val-xl
            & > *:not(:last-child)
                margin-bottom: $val-md

        @include mediaTabletAndDown
            position: relative
            z-index: 2
            min-height: 350px
            box-sizing: border-box
            background-color: rgba($c-dark, $o-mg)
            padding: $val-lg-2 $val-md
            & > *:not(:last-child)
                margin-bottom: $val-sm
            .SliderPromo__buttons
                margin-top: $val-md
        
        .title
            @include fk-font-section-title
            color: $c-light
        .subtitle
            @include fk-font-section-subtitle
            color: $c-light
            opacity: $o-xl

    &__image
        background-position: center
        background-size: cover
        @include mediaDesktopAndUp
            width: 68%

        @include mediaTabletAndDown
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            z-index: 1