.BulletsItem

    &_variant-x
        display: flex
        .left
            margin-right: $val-sm-1
        .right
            width: 100%

    &_variant-y
        text-align: center
        .left
            margin-bottom: $val-sm-1
            .icon
                margin: 0 auto
            
    .icon
        @include fk-svg-variant("prim")
        @include fk-svg-size("md")
        height: $val-xl
        width: $val-xl
        display: flex
        align-items: center
        justify-content: center
        background-color: $c-light-lg
        border-radius: $br-xl
        .fk-svg
            line-height: 0
    .title
        @include fk-font-card-title
        margin-bottom: $val-xs-1
    .subtitle
        @include fk-font-subcard-title