.Bullets
    &_type-section
        $offsetDesktopAndUp: $val-lg
        $offsetTabletAndDown: $val-xs-2

        .Bullets__container
            position: relative
            @include mediaDesktopAndUp
                padding-right: $offsetDesktopAndUp
                padding-bottom: $offsetDesktopAndUp
            @include mediaTabletAndDown
                padding-right: $offsetTabletAndDown
                padding-bottom: $offsetTabletAndDown
            &::before
                content: ""
                position: absolute
                z-index: 1
                bottom: 0
                right: 0
                background-color: $c-light-md
                border-radius: $br-xl
                @include mediaDesktopAndUp
                    top: $offsetDesktopAndUp
                    left: $offsetDesktopAndUp
                @include mediaTabletAndDown
                    top: $offsetTabletAndDown
                    left: $offsetTabletAndDown
            & > .place
                position: relative
                z-index: 2
                background-color: $c-light
                border-radius: $br-xl
                border: $bw-xs solid $c-prim-light
                @include mediaDesktopAndUp
                    padding: $val-xl
                @include mediaTabletAndDown
                    padding: $val-md