.SectionCorps
    padding-top: 0 !important
    
    & > .fk-container
        overflow: hidden
        // background-color: $c-light-sm
        border: $bw-xs solid $c-prim-light
        &:first-child
            border-radius: $br-xl $br-xl 0 0
            padding-top: $val-lg
            border-bottom: 0
        &:last-child
            border-radius: 0 0 $br-xl $br-xl
            padding-bottom: $val-lg
            border-top: 0

    .fk-section__header
        max-width: 800px
        margin-left: auto
        margin-right: auto