.RelatedLinks
    display: flex
    @include mediaMobileAndDown
        flex-wrap: wrap

    &__link
        transition: .1s
        display: flex
        //align-items: center
        padding: $val-sm
        cursor: pointer
        width: 100%
        text-decoration: none

        // Границы
        border: $bw-xs solid $c-light-lg
        &:hover
            position: relative
            z-index: 1
            border-color: $c-prim
        &:first-child:last-child
            border-radius: $br-xl

        &:hover
            .title
                color: $c-prim
                transform: scale(.99)
        .arrow-prev
            margin-right: $val-sm
        
        .arrow-prev,
        .arrow-next
            height: 100%
            display: flex
            align-items: center
            opacity: $o-md
            .fk-svg
                margin-bottom: -4px
        .title
            @include fk-font-card-title
            color: $c-dark
            transition: .1s
            width: 100%

        @include mediaTabletAndUp
            &:not(:first-child)
                margin-left: -$bw-xs
            &:first-child:last-child
                width: 50%

            // Выравнивание текста
            &:not(:first-child):not(:last-child)
                .title
                    text-align: center
            &:last-child
                text-align: right

            // Границы
            &:first-child
                border-radius: $br-xl 0 0 $br-xl
            &:last-child
                border-radius: 0 $br-xl $br-xl 0

            .arrow-next
                margin-left: $val-sm

        @include mediaMobileAndDown
            &:not(:first-child)
                margin-top: -$bw-xs

            // Границы
            &:first-child
                border-radius: $br-xl $br-xl 0 0
            &:last-child
                border-radius: 0 0 $br-xl $br-xl

            .arrow-next
                order: -1
                margin-right: $val-sm

        // Лейблы
    
    &_with-labels
        .RelatedLinks__link
            .title::before
                @include fk-font-label
                content: ""
                display: block
                min-height: 1em
                color: rgba($c-dark, $o-xl)
                margin-bottom: $val-mr

            &:first-child
                .title::before
                    content: "Назад"
            &:last-child
                .title::before
                    content: "Далее"
            // &:first-child:last-child
            //     .title::before
            //         display: none