@mixin fk-create-align($name, $prop)
    .fk-align-#{$name}
        display: flex
        justify-content: $prop
        align-items: $prop

    .fk-align-#{$name}-y
        display: flex
        align-items: $prop

    .fk-align-#{$name}-x
        display: flex
        justify-content: $prop

@include fk-create-align("start", flex-start)
@include fk-create-align("end", flex-end)
@include fk-create-align("center", center)