.fk-flex-box
    display: flex

// wrap

.fk-flex-w-wrap
    flex-wrap: wrap

.fk-flex-w-nowrap
    flex-wrap: nowrap

.fk-flex-w-wrap-reverse
    flex-wrap: wrap-reverse

// align-items

.fk-flex-a-normal
    align-items: normal

.fk-flex-a-start
    align-items: flex-start

.fk-flex-a-end
    align-items: flex-end

.fk-flex-a-center
    align-items: center

.fk-flex-a-stretch
    align-items: stretch

// justify-content

.fk-flex-j-normal
    justify-content: normal

.fk-flex-j-start
    justify-content: flex-start

.fk-flex-j-end
    justify-content: flex-end

.fk-flex-j-center
    justify-content: center

.fk-flex-j-stretch
    justify-content: stretch

.fk-flex-j-revert
    justify-content: revert

.fk-flex-j-around
    justify-content: space-around

.fk-flex-j-between
    justify-content: space-between

.fk-flex-j-evenly
    justify-content: space-evenly

// direction

.fk-flex-d-column
    flex-direction: column

.fk-flex-d-column-reverse
    flex-direction: column-reverse

.fk-flex-d-row
    flex-direction: row

.fk-flex-d-row-reverse
    flex-direction: row-reverse

.fk-flex-d-revert
    flex-direction: revert

// order, grow, shrink

$ints: ("0": 0, "1": 1, "2": 2, "3": 3, "4": 4, "5": 5, "6": 6, "7": 7, "8": 8, "9": 9, "10": 10, "11": 11, "12": 12, "13": 13, "14": 14, "15": 15, "16": 16, "17": 17, "18": 18, "19": 19)

@each $level, $val in $ints
    .fk-flex-o-#{$level}
        order: $val

@each $level, $val in $ints
    .fk-flex-g-#{$level}
        flex-grow: $val

@each $level, $val in $ints
    .fk-flex-s-#{$level}
        flex-shrink: $val