@mixin fk-format-create($size)
    &::before
        content: ""
        display: block
        padding-top: $size
    
.fk-format
    &-xs
        @include fk-format-create(30%)

    &-sm
        @include fk-format-create(50%)

    &-sm-1
        @include fk-format-create(65%)

    &-md
        @include fk-format-create(80%)

    &-lg
        @include fk-format-create(100%)