// Миксины
    
@mixin fk-fz-basic
    font-size: $fz-basic
@mixin fk-fz-mg
    font-size: $fz-mg
@mixin fk-fz-xl
    font-size: $fz-xl
@mixin fk-fz-lg
    font-size: $fz-lg
@mixin fk-fz-md
    font-size: $fz-md
@mixin fk-fz-sm
    font-size: $fz-sm
@mixin fk-fz-xs
    font-size: $fz-xs
@mixin fk-fz-mr
    font-size: $fz-mr

// Классы

.fk-fz-basic
    @include fk-fz-xs
.fk-fz-mg
    @include fk-fz-mg
.fk-fz-xl
    @include fk-fz-xl
.fk-fz-lg
    @include fk-fz-lg
.fk-fz-md
    @include fk-fz-md
.fk-fz-sm
    @include fk-fz-sm
.fk-fz-xs
    @include fk-fz-xs
.fk-fz-mr
    @include fk-fz-mr

@each $level, $fz in $font-sizes
    .fk-fz-#{$level}-absolute
        font-size: $fz