@each $level, $val in $vals
    .fk-m-#{$level}
        margin: $val
    
    .fk-mt-#{$level}
        margin-top: $val

    .fk-mb-#{$level}
        margin-bottom: $val

    .fk-ml-#{$level}
        margin-left: $val

    .fk-mr-#{$level}
        margin-right: $val

@each $level, $val in $container-offsets
    @include mediaTabletAndUp
        .fk-m-container-offset-#{$level}
            margin: $val

        .fk-mt-container-offset-#{$level}
            margin-top: $val

        .fk-mb-container-offset-#{$level}
            margin-bottom: $val

        .fk-ml-container-offset-#{$level}
            margin-left: $val

        .fk-mr-container-offset-#{$level}
            margin-right: $val

    @include mediaMobileAndDown
        .fk-m-container-offset-#{$level}
            margin: $container-offset-mobile

        .fk-mt-container-offset-#{$level}
            margin-top: $container-offset-mobile

        .fk-mb-container-offset-#{$level}
            margin-bottom: $container-offset-mobile

        .fk-ml-container-offset-#{$level}
            margin-left: $container-offset-mobile

        .fk-mr-container-offset-#{$level}
            margin-right: $container-offset-mobile

.fk-m-0
    margin: 0

.fk-mt-0
    margin-top: 0

.fk-mb-0
    margin-bottom: 0

.fk-ml-0
    margin-left: 0

.fk-mr-0
    margin-right: 0

.fk-m-auto
    margin: auto

.fk-mt-auto
    margin-top: auto

.fk-mb-auto
    margin-bottom: auto

.fk-ml-auto
    margin-left: auto

.fk-mr-auto
    margin-right: auto

.fk-m-100
    margin: 100%

.fk-mt-100
    margin-top: 100%

.fk-mb-100
    margin-bottom: 100%

.fk-ml-100
    margin-left: 100%

.fk-mr-100
    margin-right: 100%