.fk-mask
    position: relative

    & > *
        position: relative
        z-index: 2

    &::after
        content: ""
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 1
        pointer-events: none

@each $color-name, $color in $colors
    .fk-mask_variant-#{$color-name}
        &::after
            background-color: $color

@each $o-name, $o in $opacity-levels
    .fk-mask_level-#{$o-name}
        &::after
            opacity: $o