.fk-of-hidden
    overflow: hidden

.fk-of-scroll
    overflow: scroll

.fk-of-auto
    overflow: auto

.fk-of-visible
    overflow: visible

// x

.fk-of-x-hidden
    overflow-x: hidden

.fk-of-x-scroll
    overflow-x: scroll

.fk-of-x-auto
    overflow-x: auto

.fk-of-x-visible
    overflow-x: visible

// y
        
.fk-of-y-hidden
    overflow-y: hidden

.fk-of-y-scroll
    overflow-y: scroll

.fk-of-y-auto
    overflow-y: auto

.fk-of-y-visible
    overflow-y: visible