@each $level, $val in $vals
    .fk-p-#{$level}
        padding: $val

    .fk-pt-#{$level}
        padding-top: $val

    .fk-pb-#{$level}
        padding-bottom: $val

    .fk-pl-#{$level}
        padding-left: $val

    .fk-pr-#{$level}
        padding-right: $val

@each $level, $val in $container-offsets
    @include mediaTabletAndUp
        .fk-p-container-offset-#{$level}
            padding: $val

        .fk-pt-container-offset-#{$level}
            padding-top: $val

        .fk-pb-container-offset-#{$level}
            padding-bottom: $val

        .fk-pl-container-offset-#{$level}
            padding-left: $val

        .fk-pr-container-offset-#{$level}
            padding-right: $val

    @include mediaMobileAndDown
        .fk-p-container-offset-#{$level}
            padding: $container-offset-mobile

        .fk-pt-container-offset-#{$level}
            padding-top: $container-offset-mobile

        .fk-pb-container-offset-#{$level}
            padding-bottom: $container-offset-mobile

        .fk-pl-container-offset-#{$level}
            padding-left: $container-offset-mobile

        .fk-pr-container-offset-#{$level}
            padding-right: $container-offset-mobile

.fk-p-0
    padding: 0

.fk-pt-0
    padding-top: 0

.fk-pb-0
    padding-bottom: 0

.fk-pl-0
    padding-left: 0

.fk-pr-0
    padding-right: 0

.fk-p-100
    padding: 100%

.fk-pt-100
    padding-top: 100%

.fk-pb-100
    padding-bottom: 100%

.fk-pl-100
    padding-left: 100%

.fk-pr-100
    padding-right: 100%