@each $level, $bp in $breakpoints
    .fk-w-#{$level}
        width: $bp

    .fk-maxw-#{$level}
        max-width: $bp

    .fk-minw-#{$level}
        min-width: $bp

@each $level, $cw in $containers
    .fk-w-container-#{$level}
        width: $cw

    .fk-maxw-container-#{$level}
        max-width: $cw

    .fk-minw-container-#{$level}
        min-width: $cw

.fk-w-auto
    width: auto

.fk-maxw-auto
    max-width: auto

.fk-minw-auto
    min-width: auto

.fk-w-0
    width: 0

.fk-maxw-0
    max-width: 0

.fk-minw-0
    min-width: 0

.fk-w-100
    width: 100%

.fk-maxw-100
    max-width: 100%

.fk-minw-100
    min-width: 100%