@mixin SectionStepsLine($top)
    &::before
        content: ""
        position: absolute
        top: $top
        left: 0
        right: 0
        z-index: 1
        height: $bw-xs
        background-color: $c-light-md
    
.SectionSteps
    $icon-height: $val-lg-2
    $number-height: $val-sm-2
    $number-margin: $val-xs-1
    $icon-margin: $number-margin
    $title-margin: $number-margin/2
    $line-offset: $icon-height + $number-margin + $icon-margin + $title-margin

    &__wrap
        position: relative
        @include mediaDesktopAndUp
            @include SectionStepsLine($line-offset)

    &__item
        position: relative
        z-index: 2
        @include mediaTabletAndDown
            @include SectionStepsLine($line-offset)

        .icon
            height: $icon-height
            margin-bottom: $icon-margin
            margin-left: $number-height + $icon-margin

        .number
            @include fk-font-subcard-title
            position: relative
            z-index: 2
            width: $number-height
            height: $number-height
            display: flex
            align-items: center
            justify-content: center
            font-weight: $fw-bold
            color: $c-prim-light
            background-color: $c-light-lg
            border-radius: $br-mg
            margin-bottom: $number-margin

        .title
            @include fk-font-card-title
            margin-bottom: $title-margin
        .subtitle
            @include fk-font-subcard-title
            