.SectionContacts
    position: relative

    @include mediaDesktopAndUp
        .scroll-fade
            padding-left: 33%
        &__card
            width: 33%

    @include mediaTablet
        .scroll-fade
            padding-left: 60%
        &__card
            width: 60%

    @include mediaMobileAndDown
        .scroll-fade
            padding-left: 100%
        &__card
            width: 100%

    &_map-scroll-on &__content
        pointer-events: none
    
    &__map
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 1

    .scroll-fade
        transition: .1s
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 2
        cursor: pointer
        padding-right: 3%
        display: flex
        justify-content: center
        align-items: center
        background-color: rgba($c-dark, $o-xs)
        text-align: center
        &:not(:hover)
            opacity: 0
        div
            @include fk-font-section-title
            color: $c-light
            margin: 0

    &__content
        padding: $val-lg 0
        position: relative
        z-index: 3

    &__card
        pointer-events: all
        box-sizing: border-box

    &__title
        margin-bottom: $val-sm-1

    &__infoCard
        // &:not(:last-child)
        //     margin-bottom: $val-sm-1

        & > *:first-child
            margin-top: 0
        & > *:last-child
            margin-bottom: 0

        & > .title
            margin-bottom: $val-sm-1/2
            & + *
                margin-top: 0

        & > p
            @include fk-font-text-mini
            & > a
                @include fk-font-link-text
