.RouteService
    
    &__left,
    &__right
        position: relative
        @include mediaDesktopAndUp
            padding: $val-md 0 $val-md*2
        @include mediaTabletAndDown
            padding: $val-md 0
        
        & > *:last-child
            margin-bottom: 0

    &__right
        @include mediaTabletAndDown
            margin-top: -$val-md

    &__right
        position: relative
        &::before
            content: ""
            position: absolute
            top: 0
            bottom: 0
            z-index: 0
            background-color: $c-light-xs
            @include mediaDesktopAndUp
                left: -$val-xl / 2
                right: -500px
            @include mediaTabletAndDown
                left: -$val-md
                right: -$val-md

    &__FAQ
        position: relative
        z-index: 2

    .Contents
        padding: $val-md $val-md 0 $val-md

    .Bullets
        padding-top: 0 !important
        padding-bottom: 0 !important
        
    .SectionSteps
        border-top: $bw-lg solid $c-light-lg