.RouteArticle

    &__left,
    &__right
        position: relative
        padding: $val-md 0 $val-md*2
        & > *:last-child
            margin-bottom: 0

        .image
            img
                border-radius: $br-md

    &__left
        .Contents
            padding: $val-sm
            border-radius: $br-md
            background-color: $c-light-sm
            &:not(.opened)
                .Contents__header
                    padding-bottom: 0
                    border-bottom: 0
                .Contents__links
                    margin: 0

    &__right
        display: flex
        flex-direction: column

    &__contents
        position: relative
        height: 100%
        padding-top: $val-md
        .Contents
            margin-left: $val-md
            margin-right: $val-md