.fk-full-view
    @include fk-unselectable
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: $zi-modal
    background-color: rgba($c-dark, $o-mg-1)
    overflow: hidden

    &:not(.opened)
        display: none

    $p: $val-sm
    $thumb-height: $val-xl
    $thumbs-height: ($p*2)+$thumb-height

    &__image
        position: relative
        height: calc(100% - #{$thumbs-height})
        box-sizing: border-box
        padding: $p 10%
        display: flex
        justify-content: center
        align-items: center
        img
            max-width: 100%
            max-height: 100%
            border-radius: $br-md
        .empty
            @include fk-font-card-title
            color: rgba($c-light, $o-mg)

    &__thumbs
        position: relative
        height: $thumbs-height
        box-sizing: border-box
        overflow: hidden
        padding: $p 10%
        background-color: $c-dark
        &::after
            @include linear-gradient(to right, rgba($c-dark, .01) -20%, $c-dark 100%)
            content: ""
            display: block
            position: absolute
            top: 0
            bottom: 0
            right: 10%
            z-index: 2
            width: 60px
            pointer-events: none

        .hidden
            overflow: hidden
            height: 100%
        .scroll
            overflow-y: hidden
            overflow-x: scroll
        .wrap
            display: flex
            flex-wrap: nowrap
            .thumb
                transition: .1s
                height: $thumb-height
                width: $thumb-height
                min-height: $thumb-height
                min-width: $thumb-height
                box-sizing: border-box
                border: $bw-sm solid transparent
                border-radius: $br-md
                background-size: cover
                background-position: center
                background-repeat: no-repeat
                cursor: pointer
                &:not(:last-child)
                    margin-right: $val-xs
                &:not(.active):not(:hover)
                    opacity: $o-xl
                &.active
                    border-color: $c-prim
                    opacity: 1

    .icon-close
        position: absolute
        top: $val-sm
        right: 5%
        z-index: 2
        &:hover
            opacity: $o-lg

    .icon-prev,
    .icon-next
        transition: .1s
        position: absolute
        top: calc(50% - #{$val-lg/2})
        z-index: 2
        height: $val-lg
        width: $val-lg
        display: flex
        justify-content: center
        align-items: center
        background-color: $c-dark
        border-radius: $br-md
        &:not(:hover)
            opacity: $o-md
        &:hover
            opacity: 1
            transform: scale(.92)

    .icon-prev
        left: 5%
    .icon-next
        right: 5%