.CardImageLink
    position: relative
    border-radius: $br-xl
    overflow: hidden
    border-bottom: $bw-sm solid $c-prim-light

    &:hover
        box-shadow: $bs-xs $c-dark-xs
        .fk-mask::after
            opacity: $o-md

    &__image
        background-position: center
        background-size: cover
        background-repeat: no-repeat

    &__link
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 2
        text-decoration: none
        padding: $val-sm
        .wrap
            transition: .2s
            position: absolute
            top: $val-sm
            bottom: $val-sm
            left: $val-sm
            right: $val-sm
            display: flex
            align-items: flex-end
        &:hover .wrap
            bottom: 50%
            h4
                transform: translateY(50%)

        h4
            transition: .2s
            color: $c-light
            margin: 0