.PricesByBrand

    .BrandToggler
        border-radius: $br-lg
        background-color: $c-light-md

        .BrandToggler__item
            border-radius: $br-lg

        & + .PricesTable
            margin-top: -$br-xl
            border-top: 12px solid $c-light-md

            & > .fk-table
                border: 0
                border-radius: 0
                
                & > table > thead > tr > *
                    background-color: $c-light-lg
                    border-bottom: 0
                    &:first-child
                        border-radius: 0 0 0 $br-lg
                    &:last-child
                        border-radius: 0 0 $br-lg 0
                & > table > tbody > tr
                    & > *:first-child
                        border-radius: $br-lg 0 0 $br-lg
                    & > *:last-child
                        border-radius: 0 $br-lg $br-lg 0