.fk-cart-quantity
    @include fk-unselectable
    position: relative
    min-width: 160px

    $p: $val-xs-2/2

    &__label
        @include fk-font-label
        @include fk-fz-mr
        position: absolute
        z-index: 2
        bottom: $p
        left: 0
        right: 0
        color: rgba($c-dark, $o-md)
        text-align: center

    .fk-input
        input
            text-align: center
            padding-top: 3px
            padding-bottom: $p*2
            font-weight: $fw-bold
            color: $c-dark !important
            @include fk-input-placeholder
                color: $c-dark !important

        .fk-input__icon-before,
        .fk-input__icon-after
            z-index: 3
            height: calc(100% - #{$p*2})
            .fk-svg:not(.disabled)
                transition: .1s
                &:not(:hover)
                    opacity: $o-mg
                &:hover
                    transform: scale(.97)
        .fk-input__icon-before
            left: $p
        .fk-input__icon-after
            right: $p
