.NavLineSticky
    transition: .25s
    position: fixed
    top: 0
    left: 0
    right: 0
    padding: $val-xs-1 0
    background-color: $c-light
    box-shadow: $bs-xs $c-dark-xs
    z-index: $zi-sticky
    &.hidden
        transform: translateY(-110%)
        opacity: $o-xs
        pointer-events: none

    .NavMenu
        margin-right: auto

    // &__phone
    //     margin-top: 4px