.NavLine
    display: flex
    align-items: center
    background-color: $c-prim

    & > .fk-container
        width: 100%

    @include mediaTabletAndUp
        padding: $val-sm-1 0
        letter-spacing: 1px

    @include mediaMobileAndDown
        padding: $val-xs-1 0

        &__wrap
            position: relative
            display: flex
            justify-content: space-between
            align-items: center
            & > *:first-child
                margin-right: $val-sm

        .NavMenu
            position: absolute
            left: 2px
            top: 50%
            transform: translateY(-50%)

        .Search
            margin-left: auto
            min-width: 270px
            &.active
                width: 100%



    // Белая подложка при наведении на пункт меню

    // .NavMenuDesktop > .fk-group
    //     overflow: visible

    // .link
    //     position: relative
    //     &:before
    //         transition: .1s
    //         content: ""
    //         display: block
    //         position: absolute
    //         top: -$val-sm-1
    //         bottom: -$val-sm-1
    //         left: -$val-mr-2
    //         right: -$val-mr-2
    //         background-color: rgba($c-light, $o-xs)
    //     &:not(:hover):not(.active)
    //         &::before
    //             opacity: 0