.CardContent
    border-radius: $br-xl
    display: block
    text-decoration: none

    // Цвета

    &_variant-light,
    &_variant-light-xs,
    &_variant-light-sm
        transition: border .1s
        border: $bw-xs solid $c-light-lg

    @each $c-name, $c in $colors
        &_variant-#{$c-name}
            background-color: $c

    // Отступы

    @each $size-name, $val in $vals
        &_size-#{$size-name}
            padding: $val

    // Тени

    &_shadow-md
        box-shadow: $bs-xs $c-dark-xs

a.CardContent
    &_variant-light,
    &_variant-light-xs,
    &_variant-light-sm
        &:hover
            border-color: $c-prim-light