.NavMenuMobile
    margin-top: 5px

.NavMenuMobileMenu
    transition: .2s
    position: fixed
    z-index: $zi-modal
    top: 0
    right: 0
    bottom: 0
    left: 10%
    overflow: hidden
    display: flex
    flex-direction: column
    background-color: $c-light
    box-shadow: $bs-xs $c-dark-xs

    &:not(.opened)
        opacity: 0
        visibility: hidden
        pointer-events: none
        transform: translateX(100%)

    // Шапка

    &__header
        display: flex
        justify-content: space-between
        padding: $val-sm 5%
        border-bottom: $bw-xs solid $c-light-lg
        background-color: $c-light-md

        .fk-svg
            margin-left: $val-sm

        .title
            @include fk-fz-sm
            font-family: $ff-title
            font-weight: $fw-bold
            color: $c-dark
            line-height: $lh-md

    // Подменю

    &__list
        overflow-y: scroll
        margin-bottom: $val-sm
        height: 100%

        .link
            @include fk-fz-xs
            transition: .1s
            display: block
            padding: $val-xs 5%
            font-family: $ff-text
            font-weight: $fw-normal
            text-decoration: none
            color: $c-dark
            cursor: pointer
            &:not(:last-child)
                border-bottom: $bw-xs solid $c-light-md
            &.opened, &:active
                color: rgba($c-dark, $o-lg)
                background-color: $c-light-xs
                svg
                    transform: rotate(-180deg)

            .fk-svg
                @include fk-svg-size("mr-2")
                @include fk-svg-variant("dark")
                margin-left: $val-xs-1
                svg
                    transition: .2s

        .submenu
            transition: .2s
            background-color: $c-light-md
            &:not(:last-child)
                border-bottom: $bw-xs solid $c-light-md

            &:not(.opened)
                height: 0
                opacity: 0
                visibility: hidden
                pointer-events: none
                transform: translateY($val-xs)

            .link
                &:not(:last-child)
                    border-bottom: $bw-xs solid $c-light-lg