.fk-section

    &__title.fk-text-skip
        @include fk-font-section-title
    &__subtitle
        @include fk-font-section-subtitle
    &_text-variant-normal &__title
        color: $c-dark
    &_text-variant-normal &__subtitle
        color: rgba($c-dark, $o-xl)
    &_text-variant-inverse &__header
            @include fk-font-color-inverse

    @each $size-name, $val in $vals
        // normal
        &_offset-type-normal.fk-section_size-#{$size-name}
            padding-top: $val
            padding-bottom: $val

            & > .fk-section__header,
            & > .fk-container > .fk-section__header
                margin-bottom: $val
                & > *:first-child
                    margin-top: 0
                & > *:last-child
                    margin-bottom: 0

                & > .fk-section__title
                    margin-bottom: $val / 4
                    & + *
                        margin-top: 0

            & > .fk-section__footer,
            & > .fk-container > .fk-section__footer
                margin-top: $val
                & > *:first-child
                    margin-top: 0
                & > *:last-child
                    margin-bottom: 0

        // narrow
        &_offset-type-narrow.fk-section_size-#{$size-name}
            padding-top: $val
            padding-bottom: $val

            & > .fk-section__header,
            & > .fk-container > .fk-section__header
                margin-bottom: $val / 2
                & > *:first-child
                    margin-top: 0
                & > *:last-child
                    margin-bottom: 0

                & > .fk-section__title
                    margin-bottom: $val / 4
                    & + *
                        margin-top: 0

            & > .fk-section__footer,
            & > .fk-container > .fk-section__footer
                margin-top: $val / 2
                & > *:first-child
                    margin-top: 0
                & > *:last-child
                    margin-bottom: 0

@each $size-name, $val in $vals
    .fk-section_size-#{$size-name}:not([class*="fk-bg-"])
        & + &
            padding-top: 0
            
    @each $c-name, $c in $colors
        .fk-section_size-#{$size-name}.fk-bg-#{$c-name}
            & + &
                padding-top: 0