.SectionTopFaults
    border-top: $bw-lg solid $c-light-lg
    border-bottom: $bw-lg solid $c-light-lg

    &__header
        // display: flex
        // align-items: center
        // .fk-section__title
        //     margin-right: $val-lg
        //     margin-bottom: 7px !important

    &__buttons
        // margin-top: $val-lg !important
        margin-top: $val-sm-1 !important
        .fk-btn
            transform: none

    .TopFaults:not(.active)
        display: none !important

    .TopFaults > .fk-grid > .fk-grid__wrap
        justify-content: center

    .TopFaultsCard
        box-shadow: $bs-lg $c-dark-xs