.fk-loading
    i
        display: inline-block
        border: .18em solid
        height: 1.2em
        width: 1.2em
        border-radius: 500px
        border-right-color: transparent
        box-sizing: border-box
        -webkit-animation: spin .75s linear infinite
        animation: spin .75s linear infinite

    @each $c-name, $c in $colors
        &_variant-#{$c-name}
            i
                color: $c

    @each $size-name, $val in $vals
        &_size-#{$size-name}
            i
                font-size: $val

    @keyframes spin
        0%
            transform: rotate(0deg)
        100%
            transform: rotate(360deg)

    @-webkit-keyframes spin
        0%
            transform: rotate(0deg)
        100%
            transform: rotate(360deg)