@mixin fk-tabs-menu-create-size($val)
    & > .fk-tabs-menu__header > .fk-container > .wrap
        & > .tab
            padding: $val
    & > .fk-tabs-menu__body > .fk-container
        & > .tab
            padding: $val*1.5 0
    
.fk-tabs-menu

    & > &__header
        border-bottom: $bw-xs solid $c-light-md
        & > .fk-container
            & > .wrap
                display: flex
                flex-wrap: wrap
                @include mediaTabletAndDown
                    & > .tab
                        flex-grow: 1

                & > .tab
                    @include fk-font-card-title
                    transition: .1s
                    // padding: $val-sm
                    color: $c-dark
                    text-align: center
                    cursor: pointer
                    box-sizing: border-box
                    border-bottom: $bw-sm solid transparent
                    &.active
                        border-bottom-color: $c-prim
                    & > span
                        transition: .1s
                        display: block
                    &:hover:not(.active)
                        & > span
                            transform: scale(.99)
                            opacity: $o-lg

    & > &__body
        position: relative

        & > .fk-container
            & > .tab
                transition: transform .2s, opacity .2s
                position: relative
                // padding: $val-md 0
                &:not(.active)
                    transform: translateY(-$val-sm)
                    opacity: 0
                    visibility: hidden
                    pointer-events: none
                    width: 0
                    height: 0
                    position: absolute
                    overflow: hidden
                & > .tab-header
                    display: none
                    opacity: 0
                    visibility: hidden
                    pointer-events: none

                & > .tab-header + *
                    margin-top: 0
                & > *:last-child
                    margin-bottom: 0

    @each $size-name, $val in $vals
        &_size-#{$size-name}
            @include fk-tabs-menu-create-size($val)