.CardLink
    transition: .1s
    text-decoration: none
    border-radius: $br-xl
    background-color: $c-forth
    // box-shadow: $bs-xs $c-dark-xs
    &:hover
        background-color: $c-prim
        box-shadow: $bs-xs $c-dark-xs
        .more svg
            transform: translateX($val-mr-1)
    .CardContent
        background-color: transparent


    &__content
        display: flex
        align-items: flex-start

    &__left
        width: 100%
        & > *:last-child
            margin-bottom: 0
        header
            margin-bottom: $val-sm/2
            h4
                color: $c-light
                margin: 0
        p
            @include fk-font-text-mini
            margin: 0
            color: rgba($c-light, $o-xl)

    &__right
        display: flex
        align-items: center
        margin-left: $val-sm
        .price
            @include fk-font-section-title
            @include fk-fz-lg
            line-height: 1em
            color: $c-light
            white-space: nowrap
            margin-top: -4px
            margin-right: $val-sm*2
        .more
            height: auto
            svg
                transition: .1s
        button
            height: auto

        