.LayoutHeader
    position: relative
    z-index: 1
    padding: $val-xs-1 0
    background-color: $c-light
    box-shadow: $bs-xs $c-dark-xs

    @include mediaLaptopAndUp
        .Search
            min-width: 300px

    @include mediaDesktopAndUp
        &__logo
            img
                max-height: $val-xl    

    @include mediaTabletAndDown
        overflow: hidden

        &__logo,
        &__links
            width: 50%
            margin-right: 0 !important
        &__right
            position: relative
            width: 100%
            &::before
                content: ""
                position: absolute
                top: -($val-sm / 2)
                bottom: -(($val-sm / 2) + 2px)
                left: -20%
                right: -20%
                z-index: 1
                background-color: $c-light-sm
            & > *
                position: relative
                z-index: 2
        
        &__logo
            text-align: center
            img
                max-height: $val-mg
        &__links
            .SelectLocation
                button
                    margin: 0 auto