.TopFaultsCard
    display: flex
    flex-direction: column
    justify-content: flex-start

    .header
        margin-bottom: $val-sm-1
        h4
            @include fk-font-card-title
            color: $c-dark
            margin: 0

    .tasks
        margin-top: -5px
        margin-bottom: $val-md-1 - 5px
        div
            @include fk-font-text-mini
            position: relative
            color: $c-dark
            line-height: $lh-lg
            padding-left: $val-xs + ($val-xs/2) + $val-xs
            &:not(.show-more)
                .fk-svg
                    @include fk-svg-variant("third")
                    @include fk-svg-size("xs")
                    position: absolute
                    top: 0
                    left: 0

        .show-more
            transition: .2s
            display: inline-block
            margin-top: $val-md-1/3
            cursor: pointer
            &:not(:hover)
                opacity: $o-lg
            .fk-svg
                margin-right: $val-xs
                transform: translateY(-2px)

    .footer
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        align-items: center
        margin-top: auto
        margin-bottom: -$val-xs-2
        & > *
            flex-grow: 1
            margin-bottom: $val-xs-2

        @include mediaMobileAndDown
            text-align: center

        .price
            @include fk-font-subcard-title
            color: $c-dark

        .fk-btn
            margin-left: auto
            margin-right: auto