.IconMarker
    font-family: $ff-title
    font-weight: $fw-normal
    cursor: default
    
    &_cursor-pointer
        cursor: pointer

    // Маркеры

    &_marker-recommend
        background-color: #23c323
        border-color: #6dde6d
        color: $c-light
    &_marker-recommend:not(&_type-text)
        svg
            transform: translateY(-.16em)
    &_marker-recommend:not(&_type-icon)
        svg
            transform: translateY(.17em)

    // Тип: иконки

    &_type-icon
        display: flex
        justify-content: center
        align-items: center
        box-sizing: border-box
        border-radius: $br-mg
        border-width: .12em
        border-style: solid
        svg
            height: .4em

    @each $size-name, $val in $vals
        &_size-#{$size-name}:not(&_type-text)
            height: $val
            width: $val
            font-size: $val

    // Тип: текст

    &_type-text
        display: inline-block
        padding: .18em .6em .3em
        line-height: 1
        border-radius: 500px
        border-width: .2em
        border-style: solid
        .fk-svg
            margin-right: .6em

    @each $fz-name, $fz in $font-sizes
        &_size-#{$fz-name}:not(&_type-icon)
            font-size: $fz