.BrandToggler
    background-color: $c-light-lg
    padding: $val-sm-1
    border-radius: $br-xl

    &__title
        margin-bottom: $val-sm-1

    &__show-all
        margin-top: $val-sm-1
        margin-right: auto
        margin-left: auto
    &.opened &__show-all
        display: none
        .fk-svg
            transform: rotate(-180deg)
    // &__show-all
    //     @include fk-font-subcard-title
    //     transition: .1s
    //     margin-top: $val-sm-1
    //     text-align: center
    //     color: $c-dark
    //     cursor: pointer
    //     &:hover
    //         opacity: $o-xl
    //     .fk-svg
    //         transition: .1s
    //         margin-left: $val-xs
    // &.opened &__show-all
    //     .fk-svg
    //         transform: rotate(-180deg)

    &__item
        transition: .1s
        position: relative
        overflow: hidden
        background-color: $c-light
        border: $bw-xs solid $c-light
        border-radius: $br-xl
        cursor: pointer
        &:hover:not(.active)
            transform: scale(.98)
            opacity: $o-xl
        &.active
            border-color: $c-prim
            box-shadow: $bs-xs $c-dark-xs
        & > *
            background-size: contain
            background-position: center
            background-repeat: no-repeat

    &.actived &__item:not(:hover):not(.active)
        opacity: $o-xl
    &.actived &__item:not(.active):hover
        opacity: 1

    .fk-grid
        overflow: visible