@mixin fk-font-page-title
    @include fk-fz-mg
    font-family: $ff-title
    font-weight: $fw-bold
    line-height: $lh-sm

@mixin fk-font-section-title
    @include fk-fz-xl
    font-family: $ff-title
    font-weight: $fw-bold
    line-height: $lh-sm

@mixin fk-font-subsection-title
    @include fk-fz-lg
    font-family: $ff-title
    font-weight: $fw-normal
    line-height: $lh-sm

@mixin fk-font-section-subtitle
    @include fk-fz-md
    font-family: $ff-title
    font-weight: $fw-normal
    line-height: $lh-md

@mixin fk-font-card-title
    @include fk-fz-md
    font-family: $ff-title
    font-weight: $fw-bold
    line-height: $lh-sm

@mixin fk-font-subcard-title
    @include fk-fz-sm
    font-family: $ff-title
    font-weight: $fw-normal
    line-height: $lh-sm

@mixin fk-font-label
    @include fk-fz-xs
    font-family: $ff-title
    font-weight: $fw-normal
    line-height: 1
    text-transform: uppercase

@mixin fk-font-caption
    @include fk-fz-sm
    font-family: $ff-text
    font-weight: $fw-normal
    font-style: italic
    line-height: $lh-md

@mixin fk-font-text-normal
    @include fk-fz-md
    font-family: $ff-text
    font-weight: $fw-normal
    line-height: $lh-lg

@mixin fk-font-text-mini
    @include fk-fz-xs
    font-family: $ff-text
    font-weight: $fw-normal
    line-height: $lh-md

@mixin fk-font-title-mini
    @include fk-fz-xs
    font-family: $ff-title
    font-weight: $fw-bold
    line-height: $lh-sm

@mixin fk-font-text-micro
    @include fk-fz-mr
    font-family: $ff-text
    font-weight: $fw-normal
    line-height: $lh-md

@mixin fk-font-link-text
    font-family: $ff-text
    font-weight: $fw-normal
    text-decoration: none
    cursor: pointer
    &:hover
        color: $c-prim
    &:not(:hover)
        color: $c-dark

@mixin fk-font-link-text-normal
    @include fk-font-link-text
    @include fk-fz-md

@mixin fk-font-link-text-mini
    @include fk-font-link-text
    @include fk-fz-xs

@mixin fk-font-link-text-micro
    @include fk-font-link-text
    @include fk-fz-mr

@mixin fk-font-link-style
    transition: border-bottom-color .2s
    text-decoration: none
    cursor: pointer
    border-bottom-width: $bw-xs
    border-bottom-style: solid
    &:hover
        color: rgba($c-prim, $o-mg)
        border-bottom-color: rgba($c-prim, $o-sm)
    &:not(:hover)
        color: $c-prim
        border-bottom-color: rgba($c-prim, $o-xl)

@mixin fk-font-link-style-inverse
    transition: border-bottom-color .2s
    text-decoration: none
    cursor: pointer
    border-bottom-width: $bw-xs
    border-bottom-style: solid
    &:hover
        color: rgba($c-light, $o-mg)
        border-bottom-color: rgba($c-light, $o-sm)
    &:not(:hover)
        color: $c-light
        border-bottom-color: rgba($c-light, $o-xl)

@mixin fk-font-color-title-inverse
    color: $c-light
    
@mixin fk-font-color-text-inverse
    color: rgba($c-light, $o-xl)

@mixin fk-font-color-inverse
    h1, h2, h3, h4, h5
        &:not(.fk-text-skip)
            @include fk-font-color-title-inverse

    p, pre, ul, ol
        &:not(.fk-text-skip)
            @include fk-font-color-text-inverse

    a
        @include fk-font-link-style-inverse