// Размер шрифта

html 
    font-size: $fz-basic
    overflow-x: hidden

h1:not(.fk-text-skip):not([class*="fk-font-h"]),
.fk-font-h1
    @include fk-font-page-title

h2:not(.fk-text-skip):not([class*="fk-font-h"]),
.fk-font-h2
    @include fk-font-section-title

h3:not(.fk-text-skip):not([class*="fk-font-h"]),
.fk-font-h3
    @include fk-font-subsection-title

h4:not(.fk-text-skip):not([class*="fk-font-h"]),
.fk-font-h4
    @include fk-font-card-title

h5:not(.fk-text-skip):not([class*="fk-font-h"]),
.fk-font-h5
    @include fk-font-subcard-title

p, pre, ul, ol
    &:not(.fk-text-skip)
        @include fk-font-text-normal

ul:not(.fk-text-skip)
    padding-left: $val-lg
    li
        position: relative
        list-style-type: none
        &::before
            content: "\2022"
            position: absolute
            transform: translate(-50%, -18.5%)
            left: -($val-lg/2)
            font-size: 1.6em
            color: $c-prim

figure:not(.fk-text-skip)
    text-align: center
    img
        max-width: 100%
    figcaption
        @include fk-font-caption
        color: rgba($c-dark, $o-xl)
        margin-top: $val-md/2

*:not(.fk-text-inverse) 
    a:not(.fk-text-skip)
        @include fk-font-link-style

// Цвет текста в инверсии

.fk-text-inverse
    @include fk-font-color-inverse

h1, h2, h3, h4, h5
    &:not(.fk-text-skip).fk-text-inverse
        @include fk-font-color-title-inverse

p, pre, ul, ol
    &:not(.fk-text-skip).fk-text-inverse
        @include fk-font-color-text-inverse

a
    &:not(.fk-text-skip).fk-text-inverse
        @include fk-font-link-style-inverse

// Размер отступов

h1:not(.fk-text-skip)
    margin-top: 0
    margin-bottom: $val-md

h2, h3, h4, h5, h6
    &:not(.fk-text-skip)
        margin-top: 0
        margin-bottom: $val-sm

h2 + h3, h3 + h4, h4 + h5, h5 + h6
    &:not(.fk-text-skip)
        margin-top: $val-md

p, pre, ul, ol, .fk-text-offsets-p
    &:not(.fk-text-skip)
        margin: $val-md 0