.CardArticle
    $p: $val-sm

    background-color: $c-light
    border: $bw-xs solid $c-light-md
    border-radius: $br-xl
    overflow: hidden
    cursor: pointer

    & > a
        text-decoration: none
        display: block

    &__header
        h4 
            margin: $p $p ($p/2)
            color: $c-dark

    &__body
        @include fk-font-text-mini
        padding: 0 $p $p
        color: rgba($c-dark, $o-lg)
        line-height: $lh-md

    &:hover
        border-color: $c-prim-light
        h4
            color: $c-prim