.CallBox
    white-space: nowrap
    margin-top: -6px

    &__phone
        font-size: 91%
        margin-top: -2px
        .fk-btn__title
            letter-spacing: 1px
            font-weight: $fw-bold

    &__opening
        @include fk-fz-mr
        cursor: default
        text-align: left
        font-family: $ff-text
        font-weight: $fw-normal
        margin-top: -4px
        padding-left: $bw-xs+19px
        &:before
            content: ""
            display: inline-block
            height: 0.6em
            width: 0.6em
            border-radius: $br-mg
            margin-right: $val-mr-1

    &.opened
        .CallBox__opening:before
            background-color: limegreen
    &:not(.opened)
        .CallBox__opening:before
            background-color: red