.fk-product-gallery
    @include fk-unselectable

    $thumbs-bg: $c-light
    $p: $val-xs
    $thumb-height: $val-xl
    $thumbs-width: ($p*2)+$thumb-height
    $thumbs-height: ($p*2)+$thumb-height

    &__image
        overflow: hidden
        .image
            transition: .1s
            max-width: 100%
            max-height: 100%
            border-radius: $br-md
            overflow: hidden
            cursor: zoom-in
            &:hover
                transform: scale(.99)
        .empty
            @include fk-font-card-title
            color: rgba($c-dark, $o-mg)

    &__thumbs
        position: relative
        background-color: $thumbs-bg
        border-radius: $br-md
        padding: $val-xs
        box-sizing: border-box
        .hidden
            overflow: hidden
            &::after
                display: block
                position: absolute
                z-index: 2
                pointer-events: none
        .thumb
            transition: .1s
            height: $thumb-height
            width: $thumb-height
            min-height: $thumb-height
            min-width: $thumb-height
            box-sizing: border-box
            border: $bw-sm solid $thumbs-bg
            border-radius: $br-md
            background-size: cover
            background-position: center
            background-repeat: no-repeat
            cursor: pointer
            &:not(.active):not(:hover)
                opacity: $o-xl
            &.active
                border-color: $c-prim
                opacity: 1

    .icon-prev,
    .icon-next
        position: relative
        z-index: 4
        &:not(:hover)
            opacity: $o-md
        &:hover
            opacity: 1
            transform: scale(.92)

    &:not(&_without-fade) &__thumbs .hidden::after
        content: ""

    // y
    
    &_direction-y
        display: flex
        flex-direction: row-reverse
        max-height: 410px

        .fk-product-gallery__image
            width: 100%
            display: flex
            justify-content: center
            align-items: center

        .fk-product-gallery__thumbs
            width: $thumbs-width
            margin-right: $p*2
            display: flex
            flex-direction: column
            justify-content: space-between
            .hidden
                position: relative
                height: 100%
                overflow: hidden
                &::after
                    @include linear-gradient(to bottom, rgba($thumbs-bg, .001) -20%, $thumbs-bg 100%)
                    left: 0
                    right: 0
                    bottom: 0
                    height: 60px
            .scroll
                height: 100%
                display: inline-block
                overflow-y: scroll
                overflow-x: hidden
            .wrap
                width: $thumb-height
            .thumb:not(:last-child)
                margin-bottom: $p

        .icon-prev
            margin: 0 auto $p
        .icon-next
            margin: $p auto 0

    // x

    &_direction-x
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 430px

        .fk-product-gallery__image
            position: relative
            height: 100%
            box-sizing: border-box
            margin-bottom: $p*2
            .image
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                background-position: center
                background-size: contain
                background-repeat: no-repeat

        .fk-product-gallery__thumbs
            position: relative
            height: $thumbs-height
            min-height: $thumbs-height
            box-sizing: border-box
            overflow: hidden
            padding: $p
            background-color: $thumbs-bg
            display: flex
            align-items: center
            justify-content: space-between

            .hidden
                position: relative
                overflow: hidden
                height: 100%
                &::after
                    @include linear-gradient(to right, rgba($thumbs-bg, .001) -20%, $thumbs-bg 100%)
                    top: 0
                    bottom: 0
                    right: 0
                    width: 60px
            .scroll
                overflow-y: hidden
                overflow-x: scroll
            .wrap
                display: flex
                flex-wrap: nowrap
            .thumb:not(:last-child)
                margin-right: $p

        .icon-prev
            margin: auto $p auto 0
        .icon-next
            margin: auto 0 auto $p