.fk-btn
    transition: .1s
    position: relative
    display: flex
    justify-content: center
    align-items: center
    border-radius: $br-mg
    text-decoration: none
    font-family: $ff-title
    font-weight: $fw-normal
    white-space: nowrap
    line-height: 1
    border-width: $bw-xs
    border-style: solid
    outline: none
    box-sizing: border-box

    .fk-svg:not([class*="fk-svg_size-"])
        @include fk-svg-size-auto

    &:not(.disabled)
        cursor: pointer

    &.disabled
        cursor: default
        pointer-events: none
        opacity: $o-md

    &:hover
        transform: scale(.98)
        opacity: $o-mg
        // filter: grayscale(.15)

    &:active
        transform: scale(.99)
        opacity: $o-mg-1
        // filter: grayscale(.1)

    // Модификации
    
    &[class*="fk-btn_variant-link-"]
        padding: 0
        // text-decoration: underline
        &:hover
            transform: none
        &:active
            transform: none

    // Размеры

    &_size-md
        @include fk-fz-xs
        padding: $val-mr-2 ($val-mr-2+$val-mr-1)
        height: calc(1rem + #{($val-mr-2*2) + ($bw-xs*2)})
        .fk-btn__svg-before
            margin-right: $val-mr-1
            margin-bottom: -2px
        .fk-btn__svg-after
            margin-left: $val-mr-1
            margin-bottom: -2px
        .fk-btn__title

    &_size-lg
        @include fk-fz-xs
        padding: $val-xs-1
        height: calc(1rem + #{($val-xs-1*2) + ($bw-xs*2)})
        .fk-btn__svg-before
            margin-right: $val-xs
            margin-bottom: -2px
        .fk-btn__svg-after
            margin-left: $val-xs
            margin-bottom: -2px
        .fk-btn__title
    
    &_size-xl
        @include fk-fz-sm
        padding: $val-xs-2
        height: calc(1rem + #{($val-xs-2*2) + ($bw-xs*2)})
        .fk-btn__svg-before
            margin-right: $val-xs-1
            margin-bottom: -2px
        .fk-btn__svg-after
            margin-left: $val-xs-1
            margin-bottom: -2px
        .fk-btn__title
            

@mixin fk-create-btn($bg-color, $br-color, $text-color)
    @include fk-svg-variant($text-color)
    color: map-get($colors, $text-color)
    background-color: $bg-color
    border-color: $br-color

// Виды кнопок

.fk-btn_variant-prim
    @include fk-create-btn($c-prim, $c-prim, "light")

.fk-btn_variant-prim-linear
    @include fk-create-btn(transparent, $c-prim, "prim")

.fk-btn_variant-sec
    @include fk-create-btn($c-sec, $c-sec, "light")

.fk-btn_variant-sec-linear
    @include fk-create-btn(transparent, $c-sec, "sec")

.fk-btn_variant-light
    @include fk-create-btn($c-light, $c-light, "dark")

.fk-btn_variant-light-linear
    @include fk-create-btn(transparent, $c-light, "light")

.fk-btn_variant-link-prim
    @include fk-create-btn(transparent, transparent, "prim")

.fk-btn_variant-link-sec
    @include fk-create-btn(transparent, transparent, "sec")

.fk-btn_variant-link-dark
    @include fk-create-btn(transparent, transparent, "dark")

.fk-btn_variant-link-light
    @include fk-create-btn(transparent, transparent, "light")