.fk-render-if

    &.hidden
        display: none !important
        opacity: 0
        visibility: hidden
        pointer-events: none
        width: 0 !important
        height: 0 !important
        overflow: hidden !important
        position: absolute
        z-index: -100