.fk-modal
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: $zi-modal
    background-color: rgba($c-dark, $o-xl)
    padding-top: $val-xl
    padding-bottom: $val-xl
    overflow-y: scroll

.fk-modal-page-no-scroll
    overflow-y: hidden !important