// Миксины
    
@mixin fk-create-container-by-padding($size-name)
    $w: map-get($containers, $size-name)
    $o: map-get($container-offsets, $size-name)
    .fk-container
        &.fk-container_by-padding.fk-container_size-#{$size-name}    
            max-width: $w
            box-sizing: content-box
            @media (min-width: ($w + $o*2) + 1)
                padding-right: calc( (100% - #{$w}) / 2)
                padding-left: calc( (100% - #{$w}) / 2)
            @media (max-width: ($w + $o*2) )
                padding-right: $o
                padding-left: $o
            @include mediaMobileAndDown
                padding-left: $container-offset-mobile
                padding-right: $container-offset-mobile

@mixin fk-create-container-by-margin($size-name)
    $w: map-get($containers, $size-name)
    $o: map-get($container-offsets, $size-name)
    .fk-container
        &.fk-container_by-margin.fk-container_size-#{$size-name}    
            max-width: $w
            @media (min-width: ($w + $o*2) + 1)
                margin-right: auto
                margin-left: auto
            @media (max-width: ($w + $o*2) )
                margin-right: $o
                margin-left: $o
            @include mediaMobileAndDown
                margin-right: $container-offset-mobile
                margin-left: $container-offset-mobile

// Стили
        
@each $size-name, $size in $containers
    @include fk-create-container-by-padding($size-name)
    @include fk-create-container-by-margin($size-name)