@mixin fk-font-face($ff, $fs, $fw)
    @font-face
        font-family: $ff
        // src: url(../assets/fonts/#{$ff}/#{$fw}-#{$fs}/#{$fw}-#{$fs}.woff2) format("woff2"), url(../assets/fonts/#{$ff}/#{$fw}-#{$fs}/#{$fw}-#{$fs}.woff) format("woff"), url(../assets/fonts/#{$ff}/#{$fw}-#{$fs}/#{$fw}-#{$fs}.eot), url(../assets/fonts/#{$ff}/#{$fw}-#{$fs}/#{$fw}-#{$fs}.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/#{$ff}/#{$fw}-#{$fs}/#{$fw}-#{$fs}.ttf) format("truetype"), url(../assets/fonts/#{$ff}/#{$fw}-#{$fs}/#{$fw}-#{$fs}.svg) format("svg")
        src: url(../assets/fonts/#{$ff}/#{$fw}-#{$fs}/#{$fw}-#{$fs}.woff2) format("woff2"), url(../assets/fonts/#{$ff}/#{$fw}-#{$fs}/#{$fw}-#{$fs}.woff) format("woff"), url(../assets/fonts/#{$ff}/#{$fw}-#{$fs}/#{$fw}-#{$fs}.eot), url(../assets/fonts/#{$ff}/#{$fw}-#{$fs}/#{$fw}-#{$fs}.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/#{$ff}/#{$fw}-#{$fs}/#{$fw}-#{$fs}.ttf) format("truetype")
        font-style: $fs
        font-weight: $fw
        font-display: fallback

@include fk-font-face(Stem, normal, 300)
@include fk-font-face(Stem, normal, 400)
@include fk-font-face(Stem, normal, 800)
@include fk-font-face(Stem, italic, 800)