.NavMenuDesktop
    .link
        transition: .1s
        font-family: $ff-title
        display: inline-block
        text-decoration: none
        cursor: pointer
        &:hover:not(:active)
            opacity: $o-lg
            transform: scale(.99)
        &.opened
            svg
                transform: rotate(-180deg)

    .fk-svg
        display: inline-block
        margin-right: $val-mr-2
        margin-top: -.2em
        svg
            transition: .2s

    // Цвета

    &_variant-normal .link
        @include fk-svg-variant("dark")
        color: $c-dark
    &_variant-inverse .link
        @include fk-svg-variant("light")
        color: $c-light

    // Размеры ссылок

    &_size-basic .link
        @include fk-fz-xs
        @include fk-svg-size("xs")
    &_size-mr .link
        @include fk-fz-mr
        @include fk-svg-size("mr")
    &_size-xs .link
        @include fk-fz-xs
        @include fk-svg-size("mr-2")
    &_size-sm .link
        @include fk-fz-sm
        @include fk-svg-size("xs")
    &_size-md .link
        @include fk-fz-md
        @include fk-svg-size("xs-1")
    &_size-lg .link
        @include fk-fz-lg
        @include fk-svg-size("sm")
    &_size-mg .link
        @include fk-fz-mg
        @include fk-svg-size("md")