.NavMenuDesktopSubmenu
    transition: transform .2s, opacity .2s
    position: absolute
    z-index: $zi-modal
    top: 0
    left: 0
    max-width: 270px
    background-color: $c-light
    border-radius: $br-sm
    overflow: hidden
    box-shadow: $bs-xs $c-dark-xs
    
    &:not(.opened)
        height: 0
        opacity: 0
        visibility: hidden
        pointer-events: none
        transform: translateY(-$val-xs-2)

    .submenu-link
        @include fk-fz-xs
        transition: .1s
        display: block
        padding: $val-xs
        font-family: $ff-text
        font-weight: $fw-normal
        text-decoration: none
        color: $c-dark
        cursor: pointer
        &:not(:last-child)
            border-bottom: $bw-xs solid $c-light-md
        &:hover
            color: rgba($c-dark, $o-lg)
            background-color: $c-light-xs
        &.hidden
            display: none