// Миксины

@mixin fk-svg-variant($variant)
    svg, svg path, svg polygon
        fill: map-get($colors, $variant) !important

@mixin fk-svg-size($size)
    display: inline-block
    svg
        position: relative
        height: map-get($vals, $size)

@mixin fk-svg-size-auto
    svg
        height: 1em
        margin-bottom: -.15em

// Классы

.fk-svg

    &_button:not(.disabled)
        cursor: pointer

    &.disabled
        cursor: default
        pointer-events: none
        opacity: $o-lg

    @each $c-name, $c in $colors
        &_variant-#{$c-name}
            @include fk-svg-variant($c-name)

    @each $val-name, $val in $vals
        &_size-#{$val-name}
            @include fk-svg-size($val-name)

    &_size-auto
        @include fk-svg-size-auto