.fk-modal-simple
    background-color: $c-light
    border-radius: $br-xl
    box-shadow: $bs-xs $c-dark-xs

    &__header
        display: flex
        justify-content: space-between   
        .title
            @include fk-font-section-title
            margin: 0
            margin-top: -5px
            color: $c-dark
        .subtitle
            @include fk-font-section-subtitle
            margin: 0
            color: rgba($c-dark, $o-xl)
        .fk-svg
            @include fk-svg-variant("dark")
            @include fk-svg-size("sm")
            transition: .1s
            &:not(:hover)
                opacity: $o-sm

    &__body
        & > *:last-child
            margin-bottom: 0

    // Размеры

    @each $size-name, $val in $vals
        &_size-#{$size-name}
            padding: $val
        &_size-#{$size-name} &__header
            margin-bottom: $val
            .subtitle
                margin-top: $val/3