.LayoutFooter

    &__header
        background-color: $c-light
        border-top: $bw-xs solid $c-light-lg
        border-bottom: $bw-lg solid $c-light-lg
        padding: $val-xs-1 0
        & > .fk-container
            display: flex
            align-items: center
            justify-content: space-between
            & > .Search
                @include mediaDesktopAndUp
                    min-width: 367px

            @include mediaTabletAndDown
                & > *:not(.Search)
                    display: none
                & > .Search
                    width: 320px
                    margin: 0 auto

        .CallBox
            margin-top: -3px

    &__body
        background-color: $c-light-sm
        padding: $val-md 0
        @include mediaMobileAndDown
            text-align: center

    &__logo
        color: $c-dark
        .logo
            display: inline-block
        img
            max-height: $val-mg

    &__copy-and-rights
        margin-top: $val-sm-1
        .copy
            @include fk-font-text-micro
            margin-bottom: $val-xs-1
        .rights
            @include fk-font-text-micro
            opacity: $o-mg

    @include mediaTablet
        &__logo
            display: flex
            align-items: center
            .logo
                margin-right: $val-md
        &__logo &__copy-and-rights
            margin: 0

    @include mediaTabletAndDown
        &__logo
            margin-bottom: $val-md !important