.LayoutFooterMenuList

    &__title
        @include fk-font-subcard-title
        color: $c-dark
        margin-bottom: $val-xs-2
        cursor: default

    &_variant-normal &__link
        @include fk-font-text-mini
        display: inline-block
        width: 100%
        color: $c-dark
        text-decoration: none
        line-height: $lh-lg
        &:not(:hover)
            opacity: $o-mg

    &_variant-titles &__link
        @include fk-font-subcard-title
        display: inline-block
        width: 100%
        color: $c-dark
        text-decoration: none
        line-height: $lh-lg
        &:not(:hover)
            opacity: $o-mg