.SelectLocation

    &Modal
        transition: .12s
        position: fixed
        z-index: $zi-sticky
        border-radius: $br-xl
        box-shadow: $bs-xs $c-dark-xs
        background-color: $c-light
        padding-bottom: $val-sm/2
        &:not(.opened)
            opacity: 0
            pointer-events: none
            visibility: hidden
            transform: translateY(-$val-sm)
            
        @include mediaDesktopAndUp
            top: $val-lg
            right: $val-lg
            max-width: 250px
            &:not(.opened)
                transform: translateY(-$val-sm)

        @include mediaTabletAndDown
            bottom: $val-lg
            left: 5%
            right: 5%
            &:not(.opened)
                transform: translateY($val-sm)

        .title
            padding: $val-sm
            display: flex
            justify-content: space-between
            align-items: flex-start
            margin: 0
            span
                margin-right: $val-sm
            .fk-svg
                margin-top: 2px
                &:not(:hover)
                    opacity: $o-sm

        .city
            position: relative
            padding: $val-sm/2 $val-sm $val-sm/2 ($val-sm*2+$val-sm/3)
            margin: 0
            cursor: pointer
            &:hover:not(.active)
                background-color: $c-light-xs
                span
                    display: block
                    transform: scale(.99)
                    opacity: $o-lg
            &.active
                cursor: default
                background-color: $c-light-sm
            
            span
                position: relative
                transition: .1s

            .fk-svg
                position: absolute
                top: 50%
                left: $val-sm
                transform: translateY(-50%)
                margin-top: -2px
