.OrderFormAside
    padding: $val-md
    border: $bw-xs solid $c-light-lg
    border-radius: $br-xl

    .title
        @include fk-font-subcard-title
        margin-bottom: $val-xs-2
        color: $c-dark
    .subtitle
        @include fk-font-text-mini
        margin-bottom: $val-xs-2
        color: rgba($c-dark, $o-lg)