@mixin SliderTextCenter
    &::before
        background-color: rgba($c-dark, $o-xl)
    .SliderText__content
        justify-content: center
        flex-direction: column
        display: flex
        text-align: center

@mixin SliderTextLeft
    &::before
        @include linear-gradient(to right, $c-dark 5%, rgba($c-dark, 0.15) 65%)
    .SliderText__content
        display: flex
        flex-direction: column
        justify-content: center
        width: 65%

// Стили
    
.SliderText
    position: relative

    @include mediaDesktopAndUp
        &_variant-left
            @include SliderTextLeft
        &_variant-center
            @include SliderTextCenter
    
    @include mediaTabletAndDown
        @include SliderTextCenter

    &__image
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 1
        background-position: center
        background-size: cover

    &::before
        content: ""
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 2

    &__content
        position: relative
        z-index: 3
        box-sizing: border-box

        @include mediaDesktopAndUp
            padding: $val-mg $val-xl
            & > *:not(:last-child)
                margin-bottom: $val-md

        @include mediaTabletAndDown
            min-height: 350px
            padding: $val-lg-2 $val-md
            & > *:not(:last-child)
                margin-bottom: $val-sm
            .buttons
                margin-top: $val-md
        
        .title
            @include fk-font-section-title
            color: $c-light
        .subtitle
            @include fk-font-section-subtitle
            color: $c-light
            opacity: $o-xl