.WorkHours

    & > *:not(:last-child)
        margin-bottom: $val-md - $val-xs-2

    .header
        background-color: $c-light-lg
        padding: $val-xs-2 $val-sm-1
        border-radius: $br-lg
        h4
            @include fk-font-subcard-title
            color: $c-dark
            margin: 0

    .body
        padding: $val-xs-2
        ul
            padding: 0
            margin: 0
            @include mediaDesktopAndUp
                -webkit-column-count: 3
                -moz-column-count: 3
                column-count: 3
                -webkit-column-gap: $val-sm
                -moz-column-gap: $val-sm
                column-gap: $val-sm
            @include mediaTablet
                -webkit-column-count: 2
                -moz-column-count: 2
                column-count: 2
                -webkit-column-gap: $val-sm
                -moz-column-gap: $val-sm
                column-gap: $val-sm

            li
                @include fk-font-text-mini
                @include fk-fz-xs
                position: relative
                color: $c-dark
                list-style: none
                line-height: $lh-lg
                padding-left: $val-xs + ($val-xs/2) + $val-xs
                .fk-svg
                    @include fk-svg-variant("third")
                    @include fk-svg-size("xs")
                    position: absolute
                    top: 0
                    left: 0