// Миксины

@mixin fk-input-placeholder
    &::placeholder
        @content
    &::-webkit-input-placeholder
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-ms-input-placeholder
        @content
    &::-ms-input-placeholder
        @content

@mixin fk-input-get-icons-sizes($default-size)
    .fk-input__icon-before *,
    .fk-input__icon-after *
        display: block
        height: 100%
    .fk-input__icon-before:not([class*="icon-size-"]),
    .fk-input__icon-after:not([class*="icon-size-"])
        height: $default-size
    @each $size-name, $val in $vals
        .fk-input__icon-before.icon-size-#{$size-name},
        .fk-input__icon-after.icon-size-#{$size-name}
            height: $val

@mixin fk-input-create-size($py, $px, $icon-size)
    .fk-input__field:not(textarea)
        height: calc(1rem + #{($py*2) + ($bw-xs*2)})
    textarea.fk-input__field
        height: 100px
    .fk-input__field
        padding: $py $px
    &.fk-input_with-icon-before
        .fk-input__field
            padding-left: ($px+$icon-size+$px)
    &.fk-input_with-icon-after
        .fk-input__field
            padding-right: ($px+$icon-size+$px)

    &.fk-input_type-textarea
        .fk-input__icon-before,
        .fk-input__icon-after
            top: $bw-xs+$py
    &:not(.fk-input_type-textarea)
        .fk-input__icon-before,
        .fk-input__icon-after
            top: 50%
            transform: translateY(-50%)

    @include fk-input-get-icons-sizes($icon-size)
    
    .fk-input__icon-before
        left: $bw-xs+$px
    .fk-input__icon-after
        right: $bw-xs+$px

@mixin fk-input-create-variant($c-font, $c-border, $c-border-active, $c-bg)
    .fk-input__field
        background-color: $c-bg
        color: $c-font
        @include fk-input-placeholder
            color: rgba($c-font, $o-lg)
        &:not(:hover):not(:active):not(:focus)
            border-color: rgba($c-border, $o-md)
        &:hover
            border-color: $c-border
        &:active, &:focus
            border-color: $c-border-active
            
            
// Стили
    
.fk-input
    position: relative

    &.disabled
        cursor: default
        pointer-events: none
        opacity: $o-md

    &__field
        position: relative
        z-index: 1
        transition: .1s
        font-family: $ff-text
        font-weight: $fw-normal
        border-width: $bw-xs
        border-style: solid
        outline: none
        width: 100%
        box-sizing: border-box
        &:not(textarea)
            border-radius: $br-mg
    textarea
        border-radius: $br-xl

    input
        line-height: 1
    textarea
        line-height: $lh-md

    &__icon-before,
    &__icon-after
        position: absolute
        z-index: 2
    &__icon-before
        right: auto
    &__icon-after
        left: auto

    // Модификации

    &_variant-normal
        @include fk-input-create-variant($c-dark, $c-dark, $c-prim, $c-light)

    &_variant-inverse
        @include fk-input-create-variant($c-light, $c-light, $c-light, transparent)

    // Размеры

    &_size-md
        @include fk-input-create-size($val-mr-2, ($val-mr-2*2), $val-xs-1)
        .fk-input__field
            @include fk-fz-xs

    &_size-lg
        @include fk-input-create-size($val-xs-1, $val-xs-1, $val-xs-2)
        .fk-input__field
            @include fk-fz-xs

    &_size-xl
        @include fk-input-create-size($val-xs-2, $val-xs-2, $val-sm)
        .fk-input__field
            @include fk-fz-sm

        