@mixin fk-create-accordion-size($val)
    & > .title
        padding: $val
    & > .content
        padding: ($val*1.5) $val

    
.fk-accordion
    $br: $br-xl

    &__item

        // Фон и рамки

        & > .title,
        & > .content
            transition: .2s
            background-color: $c-light
        & > .title
            border: $bw-xs solid $c-light-lg
        &.opened + & > .title
            border-top-width: $bw-xs !important
        & > .content
            border-left: $bw-xs solid $c-light-lg
            border-right: $bw-xs solid $c-light-lg
        &:not(:first-child):not(.opened) > .title
            border-top-width: 0
        &:last-child > .content
            border-bottom: $bw-xs solid $c-light-lg

        // Скругления

        &:first-child > .title
            border-radius: $br $br 0 0
        &:last-child:not(.opened) > .title,
        &:last-child > .content
            border-radius: 0 0 $br $br

        &:first-child:last-child
            &:not(.opened) > .title
                border-radius: $br
            &.opened
                & > .title
                    border-radius: $br $br 0 0
                & > .content
                    border-radius: 0 0 $br $br

        // Остальные стили 

        & > .title
            position: relative
            display: flex
            justify-content: space-between
            align-items: center
            cursor: pointer
            &:hover
                & > *
                    opacity: $o-lg
                h4
                    transform: scale(.99)
            h4
                @include fk-font-card-title
                margin: 0
            .fk-svg
                @include fk-svg-size("xs-1")
                @include fk-svg-variant("dark")
                margin-right: $val-xs-1
                svg
                    transition: .1s
        & > .content
            position: relative
            & > *:first-child
                margin-top: 0
            & > *:last-child
                margin-bottom: 0

        // Состояния

        &.opened
            .title
                background-color: $c-light-xs
                border-color: $c-prim
                .fk-svg svg
                    transform: rotate(-180deg)

        &:not(.opened)
            .content
                // transform: translateY(-$val-sm)
                opacity: 0
                height: 0
                padding-top: 0 !important
                padding-bottom: 0 !important
                overflow: hidden
                pointer-events: none

    // Размеры

    @each $size-name, $val in $vals
        &_size-#{$size-name} &__item
            @include fk-create-accordion-size($val)