.Contents

    &.empty
        display: none

    &:not(.opened) &__header
        svg
            transform: rotate(-180deg)
    &:not(.opened) &__links
        transform: translateY(-$val-sm)
        height: 0
        opacity: 0
        pointer-events: none
        overflow: hidden

    &__header
        display: flex
        align-items: center
        padding-bottom: $val-sm
        border-bottom: $bw-sm solid $c-light-lg
        cursor: pointer
        &:hover
            & > *
                opacity: $o-xl
            h4
                transform: scale(.99)
        h4
            width: 100%
            color: $c-dark
            margin-bottom: 0
        svg
            transition: .1s

    &__links
        transition: .1s
        margin-top: $val-sm
        .link
            @include fk-font-text-mini
            color: $c-dark
            transition: .1s
            margin-bottom: $val-xs
            cursor: pointer
            &:hover
                transform: scale(.99)
                color: $c-prim