.CardArticleXL

    & > *:not(:last-child)
        margin-bottom: $val-sm

    &__image
        border-radius: $br-lg
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        
    &__header,
    &__content
        padding: 0 $val-sm

    &__title
        & > *:not(:last-child)
            margin-bottom: $val-xs
        .subtitle
            margin: 0
            opacity: $o-lg

    &__button
        width: auto

    &__content
        & > *:not(:first-child):not(:last-child)
            margin-top: $val-xs
            margin-bottom: $val-xs
        & > *:first-child
            margin-top: 0
        & > *:last-child
            margin-bottom: 0