.Breadcrumbs
    background-color: $c-light-xs
    border-bottom: $bw-lg solid $c-light-lg
    padding: $val-xs-1 0

    &__item
        @include fk-font-title-mini
        color: $c-dark
        display: inline-block
        margin-right: $val-mr-2
        .fk-svg
            display: inline-block
            margin-left: $val-mr-2
            opacity: $o-sm

            width: $val-md
            height: $bw-xs
            background-color: $c-dark
            margin-bottom: .2em
            svg
                display: none

        & > span
            cursor: default

        a
            color: $c-dark
            text-decoration: none
            opacity: $o-lg
            &:hover
                color: rgba($c-dark, $o-xl)